.cadastro-page {
  min-height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;

  background-color: #f5edda;
}


.cadastro-card {
  width: 430px;
  max-width: 100%;

  padding: 40px 50px;

  background-color: #fffaf0;

  border-radius: 18px;

  box-shadow: 0 8px 25px rgba(75, 41, 34, 0.15);

  text-align: center;
}


/* LOGO */

.cadastro-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 8px;

  margin-bottom: 8px;

  color: #7b2633;

  font-size: 34px;
  letter-spacing: 1px;
}

.cadastro-logo strong {
  color: #c49a52;
  font-size: 27px;
}

.cadastro-logo span {
  font-weight: bold;
}


.cadastro-subtitle {
  margin-bottom: 30px;

  color: #9a7950;

  font-size: 14px;

  font-style: italic;
}


/* TÍTULO */

.cadastro-card h1 {
  margin-bottom: 8px;

  color: #4b2922;

  font-size: 30px;
}

.cadastro-description {
  margin-bottom: 25px;

  color: #80655d;

  font-size: 15px;
}


/* CAMPOS */

.input-group {
  display: flex;
  flex-direction: column;

  text-align: left;

  margin-bottom: 17px;
}

.input-group label {
  margin-bottom: 7px;

  color: #4b2922;

  font-size: 15px;

  font-weight: bold;
}

.input-group input {
  width: 100%;

  padding: 13px 15px;

  border: 1px solid #d8c8a9;
  border-radius: 8px;

  background-color: #fffdf7;

  color: #4b2922;

  font-size: 15px;
}

.input-group input:focus {
  outline: none;

  border-color: #7b2633;
}


/* BOTÃO */

.cadastro-button {
  width: 100%;

  padding: 14px;

  margin-top: 5px;

  border: none;
  border-radius: 8px;

  background-color: #7b2633;

  color: #fffaf0;

  font-size: 16px;

  font-weight: bold;

  cursor: pointer;

  transition: 0.2s;
}

.cadastro-button:hover {
  background-color: #641f2a;
}


/* LOGIN */

.login-area {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5px;

  margin-top: 25px;

  color: #80655d;

  font-size: 14px;
}

.login-area a {
  color: #7b2633;

  font-weight: bold;
}

.login-area a:hover {
  text-decoration: underline;
}


/* RESPONSIVIDADE */

@media (max-width: 500px) {
  .cadastro-page {
    padding: 20px;
  }

  .cadastro-card {
    padding: 35px 25px;
  }

  .cadastro-logo {
    font-size: 28px;
  }

  .cadastro-card h1 {
    font-size: 26px;
  }
}