.login-page {
  min-height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;

  background-color: #f5edda;
}


.login-card {
  width: 430px;
  max-width: 100%;

  padding: 45px 50px;

  background-color: #fffaf0;

  border-radius: 18px;

  box-shadow: 0 8px 25px rgba(75, 41, 34, 0.15);

  text-align: center;
}


/* LOGO */

.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 8px;

  margin-bottom: 8px;

  color: #7b2633;

  font-size: 34px;
  letter-spacing: 1px;
}

.login-logo strong {
  color: #c49a52;
  font-size: 27px;
}

.login-logo span {
  font-weight: bold;
}


.login-subtitle {
  margin-bottom: 35px;

  color: #9a7950;

  font-size: 14px;

  font-style: italic;
}


/* TÍTULO */

.login-card h1 {
  margin-bottom: 8px;

  color: #4b2922;

  font-size: 30px;
}

.login-description {
  margin-bottom: 28px;

  color: #80655d;

  font-size: 15px;
}


/* CAMPOS */

.input-group {
  display: flex;
  flex-direction: column;

  text-align: left;

  margin-bottom: 20px;
}

.input-group label {
  margin-bottom: 7px;

  color: #4b2922;

  font-size: 15px;

  font-weight: bold;
}

.input-group input {
  width: 100%;

  padding: 13px 15px;

  border: 1px solid #d8c8a9;
  border-radius: 8px;

  background-color: #fffdf7;

  color: #4b2922;

  font-size: 15px;
}

.input-group input:focus {
  border-color: #7b2633;
}


/* OPÇÕES */

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 25px;

  font-size: 13px;
}

.remember {
  display: flex;
  align-items: center;

  gap: 6px;

  color: #80655d;
}

.remember input {
  accent-color: #7b2633;
}

.forgot-password {
  color: #7b2633;

  font-weight: bold;
}

.forgot-password:hover {
  text-decoration: underline;
}


/* BOTÃO */

.login-button {
  width: 100%;

  padding: 14px;

  border-radius: 8px;

  background-color: #7b2633;

  color: #fffaf0;

  font-size: 16px;

  font-weight: bold;

  transition: 0.2s;
}

.login-button:hover {
  background-color: #641f2a;
}


/* CADASTRO */

.register-area {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5px;

  margin-top: 25px;

  color: #80655d;

  font-size: 14px;
}

.register-area a {
  color: #7b2633;

  font-weight: bold;
}

.register-area a:hover {
  text-decoration: underline;
}


/* RESPONSIVIDADE */

@media (max-width: 500px) {
  .login-page {
    padding: 20px;
  }

  .login-card {
    padding: 35px 25px;
  }

  .login-logo {
    font-size: 28px;
  }

  .login-card h1 {
    font-size: 26px;
  }

  .login-options {
    flex-direction: column;
    align-items: flex-start;

    gap: 10px;
  }
}